@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0F0E14;
}

html, body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #0F0E14;
}

* {
  box-sizing: border-box;
}

.mono {
  font-family: 'JetBrains Mono', ui-monospace, monospace;
  font-feature-settings: "zero" 1, "ss01" 1;
}

button {
  font-family: inherit;
}
